# Python/Jupyter Notebook
__pycache__/
.ipynb_checkpoints/
*.py[cod]

# Ignore all date directories
20*/

# Keep an example directory structure
!20240725/

# keep subdirectories
!20240725/2024-1-LSP-001/
!20240725/2024-1-LSP-001/product/
!20240725/nirwals/
!20240725/nirwals/NIRWALS_work/
!20240725/nirwals/product/
# Ignore everything inside them
20240725/2024-1-LSP-001/product/*
20240725/nirwals/NIRWALS_work/*
20240725/nirwals/product/*
# .gitkeep allow Git to track empty directories
!20240725/nirwals/NIRWALS_work/.gitkeep
!20240725/nirwals/product/.gitkeep 

# debugging notebooks
wrappers/*.ipynb
# all functions used to edit .fits files (primary reduced data)
wrappers/generate*.py 
# obs log data for generating obs log file (produced in primary data reduction)
wrappers/obs_log_info/
# debug plots
wrappers/debug_plots/

# Log files
*.log

# macOS
.DS_Store
